:root {
  --font-family: inherit;
  --font-weight: 500;
  --main-text-color: #212121;
  --background-color: #ffffff;
  --hover-color: #2196f3;
  --background-footer-color: #2f303a;
  --contacts-and-links-color: #757575;
}
body {
  font-family: "Roboto", "raleway", sans-serif;
  color: var(--main-text-color);
  font-style: normal;
}

/* Index */
.container {
  width: 1200px;
}
.section {
  padding: 94px 0;
}
.page-header {
  display: flex;
  flex-direction: row;
  padding-left: 50px;
  align-items: center;
}
.header-list {
  display: flex;
  gap: 50px;
  padding-left: 100px;
}
.header-list-right {
  display: flex;
  gap: 40px;
  padding-left: 280px;
}
.main-banner {
  display: flex;
  background-color: #2f303a;
  height: 600px;
}
h1 {
  position: absolute;
  width: 696px;
  height: 120px;
  left: 260px;
  top: 280px;
  font-family: inherit;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-color);
}
.button-index-page {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 510px;
  top: 460px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}
.button-index-page > p {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.main-core-strengths {
  display: flex;
  flex-direction: row;
  gap: 30px;
  /* padding-top: 67px;
  padding-bottom: 51px; */
}
.main-strengths-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
}
.main-strengths-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--contacts-and-links-color);
}
.main-activities {
  display: flex;
  flex-direction: row;
  gap: 30px;
  /* padding-bottom: 70px; */
}
.main-activities-staff-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  /* padding-bottom: 21px; */
}
.staff-section {
  background-color: #f5f4fa;
  width: 1212px;
}
.main-staff {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.main-staff-card {
  background: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.main-staff-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.main-staff-occupation {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--contacts-and-links-color);
}
/*Portofolio */
.logo {
  width: 145px;
  height: 31px;
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000;
  text-decoration: none;
}
.logo-footer {
  font-family: "Raleway";
  width: 145px;
  height: 31px;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--background-color);
  text-decoration: none;
  padding-left: 35px;
}
.logo-footer-first-word,
.logo-first-word {
  color: var(--hover-color);
}
.link {
  font-weight: var(--font-weight);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-text-color);
}
.link:hover,
.contact-header:hover,
.contact-footer:hover,
.lnk:focus,
.contact-header:focus,
.contact-footer:focus {
  color: var(--hover-color);
}
.contact-header {
  color: var(--contacts-and-links-color);
  font-weight: var(--font-weight);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--contacts-and-links-color);
}
.buttons {
  background-color: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  border-style: unset;
}
.buttons:hover {
  color: var(--background-color);
  background-color: var(--hover-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.buttons-text {
  font-family: "Roboto";
  font-weight: var(--font-weight);
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}
.projects-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.projects-category {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--contacts-and-links-color);
}
.adress-footer {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--background-color);
  text-decoration: none;
}
.adress-footer:hover {
  color: var(--hover-color);
}
.contact-footer {
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer-page {
  background-color: var(--background-footer-color);
  width: 1212px;
}
.list-content {
  list-style: none;
}
